body{
    background-image: url("..img/background.gif");
    background-color: #100943;
    font-family: "Arial", sans-serif;
    color:#ab5073
}
body > header{
    text-decoration-style: bold;
    padding-bottom: 1rem;
    margin-top: -2.5rem
}
body > header > img{
    padding: 1rem 1rem;
    height: 200px;
    width: auto;
    float: left;
}
body > header > h1{
    font-size: 6rem;
    text-align: left;
    color: #c811f6;
    padding-top: 3rem;
}
body > header > h2{
    font-size: 3rem;
    text-align: left;
    color: #c811f6;
    margin-top: -60px;
}
body > audio{
    padding-left: 40%;
}

body > main{
    font-family: Georgia;
    color: #c811f6;
    font-size: 1.8rem;
    letter-spacing: 0.03rem;
    padding-left: 2rem;
    line-height: 1.5;
}