body{
    background-image: url("..img/background.gif");
    background-color: #554c9f;
    font-family: "Arial", sans-serif;
}
body > header{
    text-decoration-style: bold;
    padding-bottom: 1rem;
    margin-top: -2.5rem
}
body > header > img{
    padding: 1rem 1rem;
    height: 200px;
    width: auto;
    float: left;
}
body > header > h1{
    font-size: 5rem;
    text-align: left;
    color: #c72fb8;
    padding-top: 4rem;
}
body > header > h2{
    font-size: 2.5rem;
    text-align: left;
    color: #c72fb8;
    margin-top: -50px;
}
body > main{
    color: #c72fb8
}
body > footer{ 
    
}