*{
    margin: 0;
}

body {
  background-color: #1e2a38;;
}

body > header > img{
    padding: 1rem 1rem;
    width: 25%;
    height: auto;
}

body > header > figure > figcaption{
    padding: 50rem -50rem;
    font-size: 200px;
    display: inline-block;
    color:blanchedalmond
}

body > figure{
    Margin: 2rem 2rem;
    font-size: 50px;
    color:blanchedalmond
}
body > form{
    font-size: 35px;
    color:blanchedalmond;
    padding: 1rem 2rem;
}
