*{
    margin: 0;
}

body {
    background-image:url('./gif/Rain.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

body {
  background-color: #1e2a38;;
}

body > header{
    padding: 3rem 3rem;
    Width: 10px;
    height: 10px;
}