*{
    margin: 0;
}

body {
  background-color: #1e2a38;;
}

body > header > img{
    padding: 1rem 1rem;
    width: 25%;
    height: auto;
}

body > header > figure > figcaption{
    padding: 50rem -50rem;
    font-size: 100px;
    display: inline-block;
    text-shadow: 2px 2px;
    color:blanchedalmond
}